body {
    background-color: rgb(185, 226, 240);
  } 
  
 * {
    color: white;
    font-family: 'inter',sans-serif;
  }
  
  h1 {
    border: 10px solid white;
    border-radius: 60px;
  }
  
  div{
    background-color: #476ecc;
    width: 400px;
    height: 400px;
    margin: 50px auto;
  }

  h1,p{
    padding: 30px 50px;
  }